.heading{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

b{
    color:white;
}

.table{
    width: 95%;
}

.paginationButtonLink{
    display: flex;
    justify-content: center;
}